html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: #536976; 
    background: -webkit-linear-gradient(to right, #292E49, #536976);  
    background: linear-gradient(to right, #292E49, #536976); 
    opacity: 80%;
    color: #fff;
    padding: 1rem 0;
}

body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    background: rgb(118,153,223);
    background: radial-gradient(circle, rgba(118,153,223,0.47753743760399336) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    font-family: "Lexend", sans-serif;
    font-size: 2.0em;
    line-height: 75px;
    align-items: center;
    padding:12px 0px 0px 12px;
}

.banner-gallery a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

::selection{
    background: #7699df;
}

/* CARRUSEL */
.carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
    background-size: cover;
    background-position: center;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 1; 
}

.carousel-inner img {
    width: 100%;
    height: 650px; 
    object-fit: cover; 
}

/* CARDS */
.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*TARJETITA*/
/* INFO */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*gap: 20px;*/
}

.contact-container > div{
    flex: 1;
}

.tarjetita {
    text-align: left; 
    padding: 20px;
    width: 48%;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#contactanos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.email-contacto {
    color: black;
}

.email-contacto a{
    text-decoration: none;
    color: black;
}

.email-contacto:hover {
    text-decoration: none;
    color: #7699df;
}

.tarjetita,
.map-box {
    width: 48%;
    box-sizing: border-box;
    margin: 20px;
}

/* Para mapa */
.map-box iframe {
    width: 100%;
    height: 420px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    .tarjetita,
    .map-box {
        width: 100%;
    }
}

/* FIRMA */
.firma {
    text-align: right;
    margin-top: 20px; 
    color: #555; 
    font-size: 1.0em; 
}

/* BOTON DE CONFIRMACION */
.confirm-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: #536976;  
    background: -webkit-linear-gradient(to right, #292E49, #536976);  
    background: linear-gradient(to right, #292E49, #536976);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.76;
    -webkit-transition: opacity 500ms ease, padding-top 500ms ease;
    transition: transform 0.3s ease-in-out 0s;
}

.confirm-button:hover {
    background-color: #536976;
    transform: scale(1.1);
}

#goToGal {
    margin-bottom: 30px;
}

#goToWho {
    margin-bottom: 30px;
}

/* CHOOSE YOUR GALLERY */
.card-category {
    background-size: cover;
    background-position: center;
    height: 310px;
    width: 427px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px;
}

@media (max-width: 575px) {
    .card-category {
        width: 300px;
    }
}

.card-category h2 {
    font-size: 1.6em;
    transition: transform 0.3s ease-in-out 0s;
}

.card-category:hover h2 {
    transform: scale(1.3);
}

.cards {
    width: 100%;
    justify-content: center;
}

.cards a {
    color: #000000;
}

.cards a:hover{
    text-decoration: none;
}

@media (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* FOOTER */
.footer {
    background: #536976;  
    background: -webkit-linear-gradient(to right, #292E49, #536976);  
    background: linear-gradient(to right, #292E49, #536976); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
}
.footer-links {
    display: flex;
    align-items: center;
}
.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    transition: transform 0.3s ease-in-out 0s;
}
.footer-links a:hover {
    opacity: 1;
    transform: scale(1.3);
}
.footer .fa-heart {
    color: #D23333;
}

.footer-links {
    height: 45px;
    margin-top: 8px;
    margin-right: 5px;
    padding: 13px 12px 10px;
    opacity: 0.76;
    -webkit-transition: opacity 500ms ease, padding-top 500ms ease;
    transition: opacity 500ms ease, padding-top 500ms ease;
    font-family: 'Open Sans', sans-serif;
    color: #f4f4f4;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-links:hover {
    opacity: 1;
    color: #f4f4f4;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-align: center;
        gap: 5px;
        height: auto;
    }

    .footer-links {
        justify-content: center;
        gap: 10px;
        margin: 0;
    }

    .footer-links a {
        padding: 0;
        font-size: 18px;
    }

    .footer-copyright {
        margin-top: 5px;
        font-size: 12px;
        line-height: 1.2;
        white-space: normal;
    }
}

/* BUTTON - BACK */
.banner-gallery {
    position: relative;
    text-align: center;
    padding: 20px 0;
}

.back {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #F4F4F4;
    opacity: 0.75;
    transition: all 500ms ease;
    cursor: pointer;
}

.back:hover {
    opacity: 1;
    transform: translate(-8px, -50%);
}

@media (max-width: 768px) {
    .back {
        display: none;
    }
}
